*{
  font-family: 'Times New Roman', Times, serif;
}
nav{
  background-image:  url("../background/fondo.jpg");
  background-size: 25%;
  background-repeat: repeat-x;
}
.navbar-nav{
  position: absolute;
  bottom: 0px;
  left: 20px;
}
.nav-link{
  margin-right: 15em;
  color: white;
}
h1{
  color: grey;
  text-align: center;
  font-weight: bold;
  text-align: center;
  font-size: 4em;
  margin: 3%;
}
h2{
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  margin: 3%;
  text-decoration: overline;
  text-decoration-thickness: 3px;
}
main{
  margin-left: 14em;
  margin-right: 14em;
}
.cards{
  image-resolution: inherit;
  margin-top: 5em;
  align-content: center;
  column-count: 3;
  column-gap: 5em;
  text-align: center;
  margin-bottom: 2%;
  padding: 8%;
  position:static;
}

.card-title{
  margin-top: 1em;
  font-weight: bold;
}
.form {
  margin: auto;
  padding: 30px;
  background-color:#070707;
  color: white;
  margin-bottom: 3%;
  border-radius: 7px;
  }
.toreserve{
  margin: auto;
  padding: 30px;
  background-color:#070707;
  color: white;
  margin-bottom: 3%;
  border-radius: 7px;
}
footer{
  text-align: center;
  color: white;
  height: 10em;
  background-image: url("../background/fondo.jpg");
}
.carousel .carousel-item {
  height: 30em;
}
.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 30em;
}
.carousel button {
  background-color: #070707;
  opacity: 20%;
}
 @media (min-width: 1200px){
  .col-1-xl {width: 16.66%;}
  .col-2-xl{width: 16.66%;}
  .col-3-xl{width: 16.66%;}
  .col-4-xl{width: 16.66%;}
  .col-5-xl{width: 16.66%;}
  .col-6-xl{width: 16.66%;}
  .col-7-xl{width: 16.66%;}
  .col-8-xl{width: 16.66%;}
  .col-10-xl{width: 16.66%;}
  .col-11-xl{width: 16.66%;}
  .col-12-xl{width: 16.66%;}
}
@media (min-width: 992px){
  .col-1-xl {width: 16.66%;}
  .col-2-xl{width: 16.66%;}
  .col-3-xl{width: 16.66%;}
  .col-4-xl{width: 16.66%;}
  .col-5-xl{width: 16.66%;}
  .col-6-xl{width: 16.66%;}
  .col-7-xl{width: 16.66%;}
  .col-8-xl{width: 16.66%;}
  .col-10-xl{width: 16.66%;}
  .col-11-xl{width: 16.66%;}
  .col-12-xl{width: 16.66%;}
}
@media (min-width: 768px){
  .col-1-xl {width: 16.66%;}
  .col-2-xl{width: 16.66%;}
  .col-3-xl{width: 16.66%;}
  .col-4-xl{width: 16.66%;}
  .col-5-xl{width: 16.66%;}
  .col-6-xl{width: 16.66%;}
  .col-7-xl{width: 16.66%;}
  .col-8-xl{width: 16.66%;}
  .col-10-xl{width: 16.66%;}
  .col-11-xl{width: 16.66%;}
  .col-12-xl{width: 16.66%;}
}
@media (min-width: 600px){
  .col-1-xl {width: 16.66%;}
  .col-2-xl{width: 16.66%;}
  .col-3-xl{width: 16.66%;}
  .col-4-xl{width: 16.66%;}
  .col-5-xl{width: 16.66%;}
  .col-6-xl{width: 16.66%;}
  .col-7-xl{width: 16.66%;}
  .col-8-xl{width: 16.66%;}
  .col-10-xl{width: 16.66%;}
  .col-11-xl{width: 16.66%;}
  .col-12-xl{width: 16.66%;}
}
@media (max-width: 600px){
  .col-1-xl {width: 16.66%;}
  .col-2-xl{width: 16.66%;}
  .col-3-xl{width: 16.66%;}
  .col-4-xl{width: 16.66%;}
  .col-5-xl{width: 16.66%;}
  .col-6-xl{width: 16.66%;}
  .col-7-xl{width: 16.66%;}
  .col-8-xl{width: 16.66%;}
  .col-10-xl{width: 16.66%;}
  .col-11-xl{width: 16.66%;}
  .col-12-xl{width: 16.66%;}
}