
/*selector ID, clase, etiqueta o tag*/
/*selector de id comienza con # */
#tabla{
    border-collapse: colapse;
    border-color: white;
}
/*selector de clase y nombre de clase*/
.rojo{background-color:red;color: black;font-size:12;}
.blanco{background-color: black;color: black;font-size: 16px;}
.verde{background-color: green;color: black;font-size: 1em;}
.gris{background-color: gray;color: black;font-size: 1em;}

.cafe{background-color: brown;color: black;font-size: 16px;}
.azul{background-color: blue;color:black;font-size: 16px;}
.violeta{background-color: violet;color:black;font-size: 16px;}

.rosa{background-color: pink;color:black;font-size: 16px;}
.amarillo{background-color: yellow;color:black;font: size 1em;}
.turquesa{background-color: turquoise;color:black;font-size: 16px;}

.naranjo{background-color:orange;color:black;font-size: 16px;}
.purpura{background-color: purple;color:black;font-size: 16px;}
.negro{background-color: black;color:white;font-size: 16px;}